@{
    ViewData["Title"] = "About";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="row" style="margin-top:85px;">

  <div style="background: #fff;
                border: 1px solid #ddd;
                margin: 0 auto;
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
                -moz-box-shadow: 1px 1px 7px #ccc;
                -webkit-box-shadow: 1px 1px 7px #ccc;
                box-shadow: 1px 1px 7px #ccc;
                width: 550px;  height: 560px;
                padding: 10px;
                border-radius: 10px;">

    <div class="text-center" style="margin-top:20px;">
        <h1 class="display-4 threeD1 ltrSpc15 ">ABOUT</h1>
        <p class="text-decoration-none">
            <a href="#">Fifth</a> & <a href="#">Sixth</a> Floor
        </p>
        @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    </div>

   <p>Use this page to detail your site's privacy policy.</p>
 </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
