@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center" style="margin-top:90px;">
    <h1 class="display-4 threeD1 ltrSpc15 ">POLICY</h1>
    <p class="text-decoration-none">
        <a href="#">Fifth</a> & <a href="#">Sixth</a> Floor
    </p>
</div>

<p>Use this page to detail your site's policy.</p>

@* <h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
 *@