@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@* <h3>@ViewData["Title"]</h3> *@

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row mb-5">
  <div class="col-md-6">

    <div style="background: #fff;
        border: 1px solid #ddd;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        -moz-box-shadow: 1px 1px 7px #ccc;
        -webkit-box-shadow: 1px 1px 7px #ccc;
        box-shadow: 1px 1px 7px #ccc;
        width: 450px;  height: 405px;
        padding: 10px;
        border-radius: 10px;">

      <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="card text-center">

            <div class="card-header">
                <h4 class="threeD1">@ViewData["Title"]</h4>
            </div>
          <div class="card-body">


            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
          </div>

                    @*  <button type="submit" class="w-100 btn btn-lg btn-primary">Update password </button> asp-route-returnUrl="@Model.ReturnUrl"*@
                    @*  <button id="btnClear" type="button" class="btn btn-danger btn-sm" onclick="javascript:GoToHomePage()">Cancel </button> *@
          <div class="card-footer text-center">
             <div class="row text-center">

                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                   <span class="tt" data-placement="top" title="Update password">
                     <button type="submit" class="btn btn-sm btn-success">Update</button>
                   </span>
                                      
                   <button type="button" class="btn btn-danger btn-sm" onclick="javascript:GoToHomePage()" href="javascript:void(0)">Cancel </button>
                </div>
             </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
